<div class="container">
  <h1>Products</h1>
  <button class="shopping-cart" (click)="shoppingCart()">🛒</button>
</div>

<div class="table-products">
  <table>
    <tr class="table-headers">
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Image</th>
      <th>Supplier</th>
      <th>Product Category</th>
    </tr>
    <tr class="table-data" *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.weight }}</td>
      <td>{{ product.imgUrl }}</td>
      <td>{{ product.supplier.name }}</td>
      <td>{{ product.productCategory.name }}</td>
      <button class="more-details" (click)="navigateByProductId(product.id)">
        Product details
      </button>

    </tr>
  </table>
</div>
