.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.more-details {
    width: 100px;
    padding: 10px;
    font-weight: bolder;
}

.btns {
    display: flex;
    justify-content: space-between;
}

th {
    font-size: 1.4em;
    padding: 10px;
    text-align: center;
}

td {
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
}

.last-added-to-favorites-container {
    display: flex;
    justify-content: space-between;
}
