h1 {
    text-align: center;
}

.input-quantity {
    width: 7%;
}
.mat-column-quantity {
    width: 200px;
}

.mat-column-delete {
    width: 50px;
}

.increase-decrease-btn {
    width: 25px;
    height: 25px;
}
