<mat-card class="container">
    <mat-card-content>
        <div class="header">
            <h2>New Account</h2>
        </div>
        <form [formGroup]="signUpForm">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <div [ngClass]="{ 'is-loading': signUpForm.controls['username'].pending }" class="control"></div>
                <input matInput formControlName="username" class="input is-focused" type="username" />
                <mat-error *ngIf="signUpForm.controls['username'].errors?.['usernameExists']">
                    This username is already taken!
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="Password" formControlName="password" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="emailAddress" />
            </mat-form-field>
        </form>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" class="btn btn-cancel" [mat-dialog-close]>
                <mat-icon>close</mat-icon> Cancel
            </button>
            <button mat-raised-button color="primary" class="btn" [mat-dialog-close]="signUpForm.value">
                <mat-icon>save</mat-icon> Save
            </button>
        </div>
    </mat-card-content>
</mat-card>
