<div class="container">
    <mat-card class="login-form">
        <mat-card-content>
            <div class="header">
                <h1>Login</h1>
            </div>
            <form [formGroup]="loginForm">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput required />
                    <mat-error *ngIf="loginForm.get('username')?.errors"> Required username! </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="Password" formControlName="password" required />
                    <mat-error *ngIf="loginForm.get('password')?.errors"> Required password! </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="login()">
                    <mat-icon>login</mat-icon>
                    Login
                </button>
                <button mat-raised-button color="primary" (click)="signUp()">Sign up</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
