/* You can add global styles to this file, and also import other style files */

table {
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  margin-right: 10px;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  width: 30%;
}
