/* You can add global styles to this file, and also import other style files */

table {
  margin-right: auto;
  margin-left: auto;
  font-size: 1.25rem;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: antiquewhite;
}

th, td {
  border: 1px solid black;
  width: 300px;
  padding: 10px;
}
